.skills {
  margin-bottom: 2rem;
}
.skills h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--clr-primary);
}
.skill {
  margin-bottom: 1rem;
}
.skill span {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--clr-secondary);
}
.progress-bar {
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}
.fill {
  height: 10px;
  background: var(--clr-primary);
  border-radius: 4px;
}
